

.search-container {
  width: 400px;
  margin: auto;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-results {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5px;
}

.search-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  /* border-bottom: 1px solid rgb(231, 229, 229); */
}

.search-item:hover {
  background: #f3f3f3;
}

.search-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.search-bar-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
